<h1> Room</h1>
<div class="buildings-wrapper row">
  <% @rooms.each do |room| %>
    <div class="building">
      <div class="building-head">
        <div class="name">
         <%= "#{@floor.name} :(("%>
        </div>
         <p class="descreption">
        <%= "Room Number )): #{room.room_number}"%>
      </p>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag room.image.url(:medium), class:'img-responsive') %>
      </div>
      
    </div>
  <% end %>
</div>